* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#todo-container {
  width: 500px;
  background-color: rgb(179, 179, 179);
  border-radius: 10px;
  padding: 20px;
  min-height: 700px;
  margin-bottom: 50px;
}

#title {
  margin-bottom: 40px;
}

#input-task {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgb(212, 212, 212);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.remove-task {
  cursor: pointer;
}

#btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#clear-done-task,
#clear-list,
#save-list {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

#clear-done-task {
  background-color: rgb(0, 183, 255);
}

#clear-list {
  background-color: rgb(255, 0, 0);
}

#save-list {
  background-color: rgb(255, 196, 0);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}

footer p {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 576px) {
  body {
    display: block;
  }

  #title {
    margin-top: 0;
  }

  #todo-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  #btns {
    flex-direction: column;
  }

  #clear-done-task {
    display: none;
  }

  #clear-list,
  #save-list {
    margin-top: 10px;
  }

  footer {
    display: none;
  }
}
