* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#todo-container {
  width: 500px;
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
  padding: 20px;
  min-height: 700px;
}

#title {
  margin-bottom: 40px;
}

#input-task {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}


.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgb(212, 212, 212);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.remove-task {
  cursor: pointer;
}