* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

#todo-container {
  width: 500px;
  background-color: rgb(149, 148, 150);
  border-radius: 10px;
  padding: 20px;
  min-height: 500px;
}

#title {
  margin-bottom: 40px;
}

#input-task {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  border: none;
}


.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgb(212, 212, 212);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.remove-task {
  cursor: pointer;
}

#btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}

#clear-done-task {
  background-color: rgb(0, 183, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  font-size: 20px;
}

#clear-list {
  background-color: rgb(255, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  font-size: 20px;
}


#save-list {
  background-color: rgb(43, 255, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  font-size: 20px;
}

